extends layout

block content
  div.msgwrapper
    h1.greeting #{currentUser === undefined ? '' : "Welcome " + currentUser.name}
    form(method="GET" action='/message/new')
      button(type="submit") Create A New Message 
    div.messages
      if allMessages
        each message in allMessages
          li.message
            div.msginfo 
              h2=message.heading 
              p=message.text
            if currentUser
              if currentUser.isMember 
                div.authorinfo
                h4=message.Author.name 



